extends ../layout

block content
  link(rel="stylesheet",href="/css/admin/article.css")
  link(rel="stylesheet",href="http://a.tbcdn.cn/s/kissy/1.2.0/editor/theme/cool/editor-pkg-min-datauri.css")

  form.form-horizontal.col-sm-8.col-sm-offset-2(action="update", method="post", id="J_form")
    div.form-group
      label.col-sm-1.control-label
        | 标题
      div.col-sm-11
        input.form-control(type="text",name="articleName", value=article.articleName)
        input(type="hidden", name="_id", value=article._id)
        input(type="hidden", name="categoryId", value=article.categoryId)
    div.form-group
      label.col-sm-1.control-label
        | 子类
      div.col-sm-11
        input.form-control(type="text", name="subCategory", value=article.subCategory)
    div.form-group
      label.col-sm-1.control-label
        | 内容
      div.col-sm-11
        textarea#editor(name="content",style="height:480px")!= article.content
    div.form-group
      div.col-sm-11.col-sm-offset-1
        button.btn.btn-primary(type="submit")
          | 提交

  script(src="http://a.tbcdn.cn/s/kissy/1.2.0/??kissy-min.js,uibase-min.js,component-min.js,dd-min.js,overlay-min.js,editor-min.js,editor/biz/ext/editor-plugin-pkg-min.js,editor/plugins/image/dialog/plugin-min.js",charset="gbk")
  //script(src="/js/lib/jquery.hotkeys.js")
  //script(src="/js/lib/nicEdit.js")
  //script(src="/js/lib/wysiwyg.js")
  script(src="/js/admin/article.js",charset="gbk")

